* {
    font-family: monospace;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.connection-status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

*[disabled=''] {
    cursor: not-allowed;
}

.main {
    margin-top: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.message-log-viewbox {
    flex-grow: 1;
    position: relative;
}

#message-log {
    position: absolute;
    inset: 0;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

#message-log * {
    display: block
}

.text_message{
    word-wrap: break-word;
}

.image_message{
    max-width: 50%;
}